<!doctype html>

<!-- 

    ${ASCII_LOGO}

  **
  * Simple 90° holy Grail Layout
  *
  * Yeah, that's right. Content thought orbitally, homogenously, flipp'd, like a script.
  * 
  * @tmpl_path /path/to/template/root 

-->

<html class="no-js" lang="en">

<!--










                This section has been intentionally left blank.










-->

<head>

<!-- head:browser,meta,responses,device-logic,presentation,script-logic,ie,print -->

<!-- head::browser -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- head::meta -->
<meta name="description" content="">
<meta name="author" content="">
<title></title>

<!-- head::resposes -->

<!-- head::device-logic -->

<!-- head::presentation -->
<link 
  rel="stylesheet" 
  charset="utf-8" href="" />
<link 
  rel="shortcut icon" 
  href="/favicon.ico" />
<link 
  rel="apple-touch-icon" 
  href="/apple-touch-icon.png" />

<!-- head::script-logic -->
<script charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

<!-- head::ie -->

<!-- head::print -->

</head>

<!--










                This section has been intentionally left blank.










-->

<!--[if lt IE 7 ]> <body id="shell" class="ie6 page"> <![endif]-->
<!--[if IE 7 ]>    <body id="shell" class="ie7 page"> <![endif]-->
<!--[if IE 8 ]>    <body id="shell" class="ie8 page"> <![endif]-->
<!--[if IE 9 ]>    <body id="shell" class="ie9 page"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body id="domain-com-${page_slug}" class="page"> <!--<![endif]--> <!-- @id="domain_com-${page_slug}" -->

<div class="container">

  <div class="site-access">
    <ul>
    	<li>
    		<a href="#main"></a>
    	</li>
    	<li>
    		<a href=""></a>
    	</li>
    	<li>
    		<a href=""></a>
    	</li>
    	<li>
    		<a href=""></a>
    	</li>
    	<li>
    		<a href=""></a>
    	</li>
    </ul>
  </div>

  <header class="site-header">

  </header><!-- .site-header -->

  <div id="main" role="main" class="main">

  </div><!-- .main -->

  <aside role="complementary" class="complementary">

  </aside><!-- .complementary -->

  <footer class="site-footer">

  </footer><!-- .site-footer -->
  
</div><!-- .container -->

<!--










                This section has been intentionally left blank.










-->

<script charset="utf-8">
  window._gaq = [['_setAccount','__-________-_'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
</script>

</body>
</html>

